<template>
<b-container fluid="sm">
<div>
  <b-alert show>Please input url</b-alert>
  <b-alert
  :show="msg != '' && success == false"
  dismissible
  fade
  variant="danger"
  >{{msg}}</b-alert>
  <b-form @submit.prevent="onSubmit">
  <!-- Using components -->
    <b-input-group prepend="url" class="mt-3">
      <b-form-input placeholder="Input Url" type="url" v-model="form.url" :class="{ 'is-invalid': form.errors.has('url') }"></b-form-input>
      <b-form-invalid-feedback :form="form" field="url" ></b-form-invalid-feedback>
      <has-error :form="form" field="url"></has-error>
      <b-input-group-append>
        <b-button variant="outline-success" type="submit">Submit</b-button>
      </b-input-group-append>
    </b-input-group>
  </b-form>
</div>
</b-container>

</template>

<script>
  export default {
    data() {
      return {
        success: false,
        msg: '',
        form: new Form ({
          url: ''
        })
      }
    },
    methods: {
      onSubmit() {
        this.form.post('/api/store')
          .then(response => {
            this.success  = response.data.success
            this.msg      = response.data.msg
            console.log(response)
            if (this.success === true) {
              location.href = `/detail/${response.data.uuid}`
            }
          })
      }
    }
  }
</script>