<template>
    <b-container fluid="sm">
        <div>
            <!-- <b-table :items="item" striped hover></b-table> -->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="d-none d-sm-table-cell">Name</th>
                        <th class="d-none d-sm-table-cell">Description</th>
                        <th class="d-none d-sm-table-cell">Price</th>
                        <th class="d-none d-sm-table-cell">Last Update</th>
                        <th class="d-none d-sm-table-cell">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in items" v-bind:key="index">
                        <td class="d-none d-sm-table-cell">{{item.name}}</td>
                        <td class="d-none d-sm-table-cell">{{item.description}}</td>
                        <td class="d-none d-sm-table-cell">{{item.price}}</td>
                        <td class="d-none d-sm-table-cell">{{item.last_update}}</td>
                        <td class="d-none d-sm-table-cell"><b-button @click="detail(item.detail)">Details</b-button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </b-container>
</template>

<script>
export default {
    data () {
        return {
            // fields: [{label: "Name"}, {label: "Description"}, {label: "Price"}, {label: "Detail", colType: "button"}],
            items: [],
        }
    },
    mounted () {
        this.getProduct()
    },
    methods: {
        getProduct () {
            axios.get(`/api/list`).then( response => {
                this.items   = response.data
                console.log(response.data)
            }).catch( error => {
                console.log(error.response.data)
            })
        },
        detail (url) {
            location.href   = url
        }
    }
}
</script>